* {
    margin: 0px;
    padding: 0px;
}
div {
    text-align: center;
}
main {
    text-align: center; 
}
#time {
    text-align: right;
}
#question-section{
    display: block;
}
#answers {
    display: none;
}
#score-input {
    display: none;
}
#scoreboard {
    display: none;
    text-align: center;
}
li {
    text-decoration: none;
}
#user-name {
    display: inline-block;
}